## __Introduction to Pandas__

## Step 1: Import Pandas

Let's learn about multi-indexing in pandas.

Let's first import the libraries and load the dataset.

In [ ]:
import pandas as pd

## Step 2: Read a CSV File

- Read the **HousePrices.csv** file using the pd.read_csv() function:

- Use **parse_dates = True** as an argument to read the date field in the correct format since, currently, the data type of the date column is **object**

In [ ]:
df = pd.read_csv("HousePrices.csv",parse_dates = True)

## Step 3: Display the First Few Rows

- Display the first few rows of the DataFrame using the .head() method:

In [ ]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

**Observation**

The result contains the first five rows of the DataFrame.

## Step 4: Set the Multi-Level Index

Let's create a multi-level index using city and date.


- Set a multi-level index on the DataFrame using the .set_index() method, and pass the desired columns as a list

Let's modify the original DataFrame using **inplace = True**.

In [ ]:
df.set_index(['city','date'],inplace = True)

## Step 5: Display the DataFrame Index

- Display the DataFrame index using the .index attribute:

In [ ]:
df.index

MultiIndex([(   'Shoreline', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            (        'Kent', '2014-05-02 00:00:00'),
            (    'Bellevue', '2014-05-02 00:00:00'),
            (     'Redmond', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            (     'Redmond', '2014-05-02 00:00:00'),
            ('Maple Valley', '2014-05-02 00:00:00'),
            (  'North Bend', '2014-05-02 00:00:00'),
            (     'Seattle', '2014-05-02 00:00:00'),
            ...
            (      'Renton', '2014-07-08 00:00:00'),
            (     'Seattle', '2014-07-08 00:00:00'),
            ( 'Federal Way', '2014-07-08 00:00:00'),
            (      'Auburn', '2014-07-08 00:00:00'),
            (        'Kent', '2014-07-09 00:00:00'),
            (     'Seattle', '2014-07-09 00:00:00'),
            (    'Bellevue', '2014-07-09 00:00:00'),
            (      'Renton', '2014-07-09 00:00:00'),
            (     'Seattle', '2014-07-10 00:00:00'),
            (   'Covington', '2014-07-10 00:00:00')],
           names=['city', 'date'], length=4600)

**Observation**

Here, we can see a DataFrame with multiple indexes.

## Step 6: Access Rows by the Index Label

Let's access the multi-index DataFrames. This can be done using the .loc method.

Let's choose **Seattle**.

- Pass **Seattle** as an argument to df.loc[]:

In [ ]:
df.loc['Seattle']

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,statezip,country
date,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,WA 98119,USA
2014-05-02 00:00:00,4.900000e+05,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,WA 98115,USA
2014-05-02 00:00:00,6.400000e+05,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,WA 98115,USA
2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,WA 98105,USA
2014-05-02 00:00:00,3.650000e+05,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,WA 98106,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-07 00:00:00,4.060625e+05,2.0,1.00,1290,4650,1.0,0,0,4,1290,0,1906,1990,312 NE 81st St,WA 98115,USA
2014-07-07 00:00:00,4.868950e+05,3.0,1.00,1890,3330,1.5,0,0,4,1390,500,1901,0,4324 Dayton Ave N,WA 98103,USA
2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,WA 98126,USA
2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,WA 98133,USA
2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,WA 98178,USA

**Observation**

This returns a DataFrame that contains the values of **Seattle** only.